<h1>Listing clients</h1>

<label for="filtro">Search:</label>&nbsp;<input type="text" class="f_txt" size="40" placeholder="Keyword"/>
<button onClick="updateLists( '#client-list', '<%= clients_path( { :type => 'html' } ) -%>' );">Update Clients HTML</button>
<button onClick="updateLists( '#client-list', '<%= clients_path( { :format => :json } ) -%>', { remote : true, dataType : 'json' } );">Update Clients JSON</button>
<button onClick="updateLists( '#client-list', '<%= clients_path( { :format => :xml } ) -%>', { remote : true, dataType : 'xml' } );">Update Clients XML</button>
<button onClick="updateLists( '#client-list', '<%= clients_path( { :format => :js } ) -%>', { remote : true, dataType : 'script' } );">Update Clients JS</button>
<br/>
<%= render( { :partial => 'clients' } ) -%>
<br />
<%#= render js: "alert('Hello Rails');" %>

<%= link_to 'New Client', new_client_path %>
